@{
    ViewData["Title"] = "Home Page";
}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Hyllie Boll Center</h1>
            <p class="lead text-body-secondary">Welcome to Hyllie Boll Center where we focus on racketsports such as tennis and badminton. We are currently expanding our locale to introduce squash this summer, so stay tuned.</p>         
        </div>
    </div>
</section>