@{
    ViewData["Title"] = "Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Please don't destroy/damage the property and equipment of Hyllie Boll Center</p>
<p>Behave like a human being and show respect to our staff and customers</p>
